@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--color-indigo-900);
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-readex-pro), 'Helvetica', sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}
